footer{
    position: fixed;
    bottom: 0;
    width: 95%;
    justify-content: space-between;

    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-top: 1px solid #eaeaea;
    background-color: white;
}
main{
    padding-bottom: 80px;
}

.footer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    margin: 10px 20px 5px 20px;
    cursor: pointer
}

.footer-box-icons img{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 5px 0;
    
}
.footer-box-title{
    margin: 5px 0;
}

.footer-box:hover .footer-box-icons{
    transform: scale(1.2);
    transition: all 1s ease;
}